body {
  margin: 0;
  font-family: "McLaren", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #f51357;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  text-align: center;
  width: auto;
  margin-top: 30px;
  height: 2.5rem;
  margin-top: 0px;
  height: 150px;
  clear: both;
  padding-top: 20px;
}

footer p {
  color: #fff;
  background: #b8b8b8;
  padding: 5px;
}
footer span {
  color: #fff;
  background: #b8b8b8;
  padding: 5px;
}

footer #wrap {
  min-height: 100%;
}

footer #main {
  overflow: auto;
  padding-bottom: 150px; /* this needs to be bigger than footer height*/
}
